# Bases de datos y caché
*.db
*.zip

# Entorno local y claves
.env
.venv/

# Compilaciones de Python y PyPI
build/
dist/
*.egg-info/
__pycache__/
*.pyc

# Archivos de prueba y temporales
*.ipynb
*.wav
N.pdf
app - copia*.py
app - *.py
.ipynb_checkpoints/
*.csv
*.tex
*.txt
*.ps1
*.zip
*/*/H/
*/H/
nmetrics-web/
nmetrics-notebook.ipynb
Doc/github_pypi.txt
nmetrics-notebook.ipynb

